
<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet"> 

<style type="text/css">
	/*div{
		position: absolute;
		top: 35%;
		bottom: 65%;
		text-align: center;
		align-content: center;
		width: 100%;
		font-size: 1.7em;
		font-family: 'Encode Sans Condensed', sans-serif;
	}
	form {
		font-size: 1.7em;
		font-family: 'Encode Sans Condensed', sans-serif;
	}
	body{
		background: #6BCAE2;
	}
	.custom{
		font-family: 'Encode Sans Condensed', sans-serif;
	}*/
</style>

<div>
	<h4>Shorten URL</h4>

	{% if error_message %}
		<p><strong>{{ error_message }}</strong></p>
	{% endif %}

	<form action="{% url 'shrink' %}" method="get">
		{% csrf_token %}
		<span>Origninal URL : </span><input type="text" name="url" class="custom" required><br><br>
		<span>Custom URL : </span><input type="text" name="c_url" class="custom" maxlength="8" placeholder=" Size not more than 8 characters"><br>
		<br><br>
		<input type="submit" value="Submit" />
	</form>

	{% if shrinked_url %} 
		<span class="custom">
			Shortened URL: <strong><a href="http://localhost:8000/{{shrinked_url}}">http://localhost:8000/{{shrinked_url}}</a></strong> 
		</span>
	{% endif %}
</div>